MYSQLDB_DATABASE=car-sharing-app
MYSQLDB_USER=user
MYSQLDB_ROOT_PASSWORD=password
MYSQLDB_LOCAL_PORT=3305
MYSQLDB_DOCKER_PORT=3306

SPRING_LOCAL_PORT=8081
SPRING_DOCKER_PORT=8080

JWT_EXPIRATION=600000
JWT_SECRET=abcdefghigklmnop

STRIPE_SECRET_KEY=stripe_secret_key
PAYMENT_SUCCESS_URL=http://success.com
PAYMENT_CANCEL_URL=https://cancel.com

TELEGRAM_BOT_TOKEN=telegram_bot_token
ADMIN_CHAT_ID=1234
